body {
    font-family: 'Gantari', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    ;
}

.Orange_color {
    color: orange;

}

.half_width {
    width: 40%;
    display: inline-block;
    margin-left: 80px;
    ;





}

div img {
    height: 600px;
    ;
}

.section_1 {
    display: flex;
    justify-content: center;
    ;
}

.section_2 {
    display: flex;
    margin-top: 60px;
    justify-content: center;

    ;

}

.section_3 {}

.experience_ {
    text-align: center;
    ;
}

.button1 {
    font-size: 18px;
    padding: 10px 40px;
    color: white;
    background-color: #FF6E50;
    border-radius: 7px;
    border: none;


    ;
}


.another_class {

    ;
}

.button_2 {
    font-size: 18px;
    padding: 10px 30px;
    background-color: orange;
    ;
    border-radius: 5px;
    border: none;
    ;



}

.button_2 a {
    text-decoration: none;
    color: white;

}

.part_1 {
    width: 35%;
    height: 450px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 104px;
    box-shadow: 0px 4px 14px -3px;
    padding-left: 37px;
    border-left: 8px solid black;
}


.part_1 h1 {
    font-size: 45px;
}

.part_1 h3 {
    color: orange;
}

.box3 {
    display: flex;
    justify-content: center;
    padding-top: 64px;

}

.footer_ {
    padding-top: 40px;
    text-align: center;
    ;

}